/* 
Reglas          :Es el conjunto de todas las partes del bloque de código (selectores, declarac
Selectores      :Es la forma que usamos en CSS para apuntar hacia uno o varios elementos de HTML. Existen varios tipos de selectores.
Declaraciones   :Es todo el conjunto de propiedades y valores que se encuentran dentro de las llaves del bloque de código de CSS
Propiedades     :Son todas las diferentes formas que podemos usar para estilizar los elementos. Su funcionamiento está ligado a los valores
Valores         :Son los valores que una propiedad puede tener.
*/


/* Selectores desendente -> body header div nav ol a */
/* Selector de clase -> .nombredelaclase */
/* Selector por id utilizando #*/
/* selector de etiqueta */


body {
    font-family: 'Source Sans Pro', sans-serif;

}

h1, h2, h3, h4, h5, h6{
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
}

h1 {
    font-size: 40px;
    line-height: 1.65;
    letter-spacing: -.2px;
    
}
